.container {
  background: white;
}

.innerContainer {
  display: flex;
}

.imageContainer {
  position: relative;
}

.infoContainer {
  padding: 20px;
}

.hotelName, .overview, .toggle {
  color: #17317f;
}

.location {
  color: #8f8f8f;
}

.button {
  background-color: #fedc07;
  color: #17317f;
  border: none;
  cursor: pointer;
  width: 330px;
  border-radius: 5px;
  padding: 10px 110px;
  margin-top: 10px;
}

.price {
  font-size: 1.5rem;
}

.overviewContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 860px;
}

.starContainer {
  display: flex;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toggleContainer {
  position: absolute;
  bottom: 0;
  background-color: white;
  cursor: pointer;
}

.toggleInnerContainer {
  display: flex;
  padding: 5px 10px;
}