@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Arimo", sans-serif;
}

.hotelsSection {
  background-image: url('./assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.container {
  display: flex;
  padding: 100px;
  gap: 75px;
}