@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Arimo", sans-serif;
}

.hotelsSection {
  background-image: url('./assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  padding: 5%;
  gap: 75px;
}

@media (max-width: 1250px) {
  .container {
    gap: 35px;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

